In [2]:
import numpy as np
import pandas as pd

In [3]:
ages = pd.Series([28, 40, 50], name = "age")
ages

0    28
1    40
2    50
Name: age, dtype: int64

In [ ]:
ages.max()

np.int64(50)

In [7]:
ages.min()

np.int64(28)

In [8]:
ages.mean()

np.float64(39.333333333333336)

In [ ]:
# Creating list
name = ["A", "B", "C", "D", "E"]
marks = [52, 60, 65, 78, 85]
# Creating series from list
data = pd.Series(data = marks, index = name) # pd.Series(data, index) has this syntax
data

A    52
B    60
C    65
D    78
E    85
dtype: int64

In [18]:
# Creating dicktionary
grades = {"sem1": 3.15, "sem2": 3.35, "sem3": 3.75}
# Creating series from dicktionary
data = pd.Series(data = grades)
data

sem1    3.15
sem2    3.35
sem3    3.75
dtype: float64

In [20]:
mark_sheet = {"Eng": 68, "Math": 85, "Science": 90, "History": 79, "Geography": 88}
data = pd.Series(data = mark_sheet)
data

Eng          68
Math         85
Science      90
History      79
Geography    88
dtype: int64

In [21]:
data = pd.Series(data = mark_sheet, index = ["Eng", "Math", "Science"])
data

Eng        68
Math       85
Science    90
dtype: int64

In [22]:
data["Science"]

np.int64(90)

In [ ]:
# Creating dictionary
data = {"name": ["A", "B", "C", "D", "E"],
        "age": [30, 20, 25, 50, 52],
        "marks": [65, 70, 75, 88, 90],
        "city": ["Mumbai", "Pune", "Chennai", "Delhi", "London"]}
# Creating dataframe from dicktionary
df = pd. DataFrame(data = data)
df

  name  age  marks     city
0    A   30     65   Mumbai
1    B   20     70     Pune
2    C   25     75  Chennai
3    D   50     88    Delhi
4    E   52     90   London

In [27]:
# Making list
name = ["A", "B", "C", "D", "E"]
age = [25, 28, 29, 35, 40]
marks = [75, 90, 88, 92, 97]
city = ["Delhi", "London", "Newyork", "Kolkata", "Mumbai"]
df = pd.DataFrame({"Marks": marks, "Age": age, "City": city}, index = name)
print(df)

   Marks  Age     City
A     75   25    Delhi
B     90   28   London
C     88   29  Newyork
D     92   35  Kolkata
E     97   40   Mumbai